extends include/layout.pug

block content
    h1 Register a new Card

    form(method='POST')
        label(for="UID") First Name
        input#UID(type="text", placeholder="Enter UID" name="UID" required)
        br
        button(type="submit") Register Card
